<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DesmoS - Login</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/floating-logout.css}">
    <link rel="icon" th:href="@{/images/logoDS.png}" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    
    <div class="login-container">
        <div class="login-box">
            <h1>Login</h1>
            <form class="login-form" th:action="@{/authcontroller/login}" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="login-btn">Login</button>
                <div class="form-footer">
                    <a th:href="@{/forgot-password}" class="forgot-password">Forgot Password?</a>
                    <a th:href="@{/authcontroller/register}" class="signup-link">Don't have an account? Sign up</a>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="~{fragments/floating-logout :: floating-logout}"></div>
    <script th:src="@{/js/navbar.js}"></script>
</body>
</html> 